{% load i18n %}

{% autoescape off %}

{% trans "Hi, Team Le Recul," %}

{% blocktrans %} You have received a new new message from {{ name }} since {{ country }}. {% endblocktrans %}

{% trans "message: " %}

---------------------------------------------------------------------------

{{ message }}

---------------------------------------------------------------------------

{% blocktrans %} You can reply to {{ name }} via the email: {{ email }} or call him/her at {{ phone }}. {% endblocktrans %}

{% trans "Sincerly yours," %}

{% trans "Smartly Admin" %}


{% endautoescape %}
